<html lang="en">
    <head>
        <%-include('./inc/head')%>
    </head>

<body>
    <%-include('./inc/nav')%>

        <section>
            <h1>Ihale Detay</h1>
            <h1><%=tender.title%></h1>
            <p><%=tender.detail%></p>
            <p><%=tender.status%></p>
            <p><%=tender.minPrice%></p>

        </section>
</body>

</html>